@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

:root {
  --animate-duration: 1s;
}

.animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0,-100%,0);
    visibility: visible
  }

  to {
    transform: translateZ(0)
  }
}

.slideInUp {
  animation-name: slideInUp
}

@keyframes slideOutDown {
  0% {
    transform: translateZ(0)
  }

  to {
    visibility: hidden;
    transform: translate3d(0,-100%,0)
  }
}

.slideOutDown {
  animation-name: slideOutDown
}

.override-nxtimg {
  /* object-fit: contain; */
  position: relative !important;
  height: unset !important;
}

.override-nxtimg-parent > span {
  position: unset !important;
}